<!DOCTYPE html>
<html>

  {% include "includes/head.twig" %}

  <body id="page-top" class="index">

    {% include "includes/navbar.twig" %}

    {% include "includes/header.twig" %}

    {% include "includes/javascript.twig" %}

  </body>

</html>
